.container {
    padding-top: 40vh;
    opacity: 80%;
}
body {
    background-image: url("surf.jpg"); 
    background-size: cover;
}
.Heading {
    font-family: "Jaro", sans-serif;
    font-size: 90px;
} 
h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-family: 'Arial', sans-serif;
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}
